<div class="card text-center">
  <div class="card-header">
    <h2>Editing <%= @theme.title %> Theme</h2>
  </div>
  <div class="card-body">
    <%= render 'form', theme: @theme %>
  </div>
  <div class="card-footer text-muted">
    <%= link_to 'View', @theme %> |
    <%= link_to 'Back', themes_path %>
  </div>
</div>
